<div class="row">
  <div class="col-12">
    <mat-card class="mat-card-top cardWithShadow position-relative">
      <mat-sidenav-container
        [ngClass]="{
          'side-panel-opened': sidePanelOpened,
          'side-panel-closed': !sidePanelOpened
        }"
        style="min-height: 80vh"
      >
        <mat-sidenav
          #chatnav
          right
          class="app-left-sidebar"
          [mode]="isOver() ? 'over' : 'side'"
          [opened]="!isOver()"
          (open)="sidePanelOpened = true"
          (close)="sidePanelOpened = false"
          position="start"
        >
          <mat-toolbar class="bg-white">
            <div class="row">
              <div class="col-12">
                <p class="f-w-500 f-s-18 m-0 mat-subtitle-1">
                  Quản lý đơn hàng
                </p>
              </div>
            </div>
          </mat-toolbar>
          <mat-nav-list>
            <mat-list-item
              (click)="selectionlblClick('all')"
              class="all"
              [class.bg-light-primary]="selectedCategory === 'all'"
            >
              <div class="d-flex align-items-center">
                <span class="mat-subtitle-2">Tất cả</span>
                <div class="m-l-auto">
                  <span
                    class="icon-27 bg-primary text-white rounded d-flex align-items-center justify-content-center"
                    >{{ all }}</span
                  >
                </div>
              </div>
            </mat-list-item>
            <mat-list-item
              [class.bg-light-primary]="selectedCategory === 'delivering'"
              class="delivering font-normal"
              (click)="selectionlblClick('delivering')"
            >
              <div class="d-flex align-items-center">
                <span class="mat-subtitle-2">Đang giao</span>
                <div class="m-l-auto">
                  <span
                    class="icon-27 bg-warning text-white rounded d-flex align-items-center justify-content-center"
                  >
                    <!-- {{ shipments.filter(s => s.status === 'delivering').length }} -->
                    {{ delivering }}
                  </span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item
              [class.bg-light-primary]="selectedCategory === 'delivered'"
              class="delivered font-normal"
              (click)="selectionlblClick('delivered')"
            >
              <div class="d-flex align-items-center">
                <span class="mat-subtitle-2">Đã giao</span>
                <div class="m-l-auto">
                  <span
                    class="icon-27 bg-success text-white rounded d-flex align-items-center justify-content-center"
                    >{{ delivered }}
                    <!-- {{ shipments.filter(s => s.status === 'delivered').length }} -->
                  </span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item
              [class.bg-light-primary]="selectedCategory === 'returned'"
              class="returned font-normal"
              (click)="selectionlblClick('returned')"
            >
              <div class="d-flex align-items-center">
                <span class="mat-subtitle-2">Đã trả lại</span>
                <div class="m-l-auto">
                  <span
                    class="icon-27 bg-error text-white rounded d-flex align-items-center justify-content-center"
                  >
                    <!-- {{ shipments.filter(s => s.status === 'returned').length }} -->
                    {{ returned }}</span
                  >
                </div>
              </div>
            </mat-list-item>
          </mat-nav-list>
        </mat-sidenav>
        <mat-toolbar class="bg-white">
          <div class="d-flex align-items-center w-100">
            <div class="d-flex align-items-center">
              <button
                mat-icon-button
                (click)="chatnav.toggle()"
                class="ml-1 shadow-none"
              >
                <i-tabler name="align-left" class="icon-20"></i-tabler>
              </button>
            </div>
            <div class="m-l-auto">
              <span class="bg-primary text-white p-8 rounded f-s-14"
                >Còn
                <!-- {{ shipments.filter(s => s.status === 'delivering').length }} -->
                {{ delivering }} đơn đang giao</span
              >
            </div>
          </div>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <mat-card-content class="p-x-0" style="min-height: 70vh">
          <div
            *ngFor="let shipment of filteredShipments"
            class="todo-item p-y-12 p-x-8 b-b-1"
          >
            <div class="d-flex align-items-center w-100">
              <div class="d-flex align-items-center">
                <img
                  style="height: 55px; width: 55px"
                  class="rounded-circle"
                  src="{{ shipment.product.image_urls[0] }}"
                  alt="anh"
                />
                <div class="flex-shrink-0 m-l-12 m-t-12">
                  <span class="f-s-16 f-w-500">{{
                    shipment.product.name
                  }}</span>
                  <p class="m-t-0 f-s-14">
                    {{ shipment.created_at | date }}
                  </p>
                </div>
              </div>
              <div class="w-100">
                <div class="d-flex align-items-start">
                  <div class="m-l-auto px-3 mr-2 d-flex">
                    <span
                      [ngClass]="getStatusColor(shipment.status)"
                      class="badge p-t-4 p-b-4 p-l-8 p-r-8 rounded"
                      >{{ getStatusTranslation(shipment.status) }}</span
                    >
                    <button
                      *ngIf="shipment.status === 'delivering'"
                      mat-button
                      class="bg-primary text-white m-l-12"
                      (click)="confirmDelivery(shipment)"
                    >
                      Xác nhận giao hàng thành công
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-sidenav-container>
    </mat-card>
  </div>
</div>
